<% layout('./layout/boilerplate.ejs') %>

    <div class="mx-5 my-3">
        <button id="doctor" class="btn btn-primary">Patient</button>
        <button id="patient" class="btn btn-warning">Doctor</button>
    </div>


    <!-- Form for login -->
    <div class="container">
        <form action="/login" method="POST" id="patientForm" class="validated-form" novalidate>
            <h1 class="display-5 my-3 text-center">Patient Login</h1>

            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                    placeholder="Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required>
            </div>
            <p class="lead">Don't have an account? <a href="/register">Register Now</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container">
        <form action="/doclogin" method="POST" id="doctorForm" class="validated-form" novalidate>
            <h1 class="display-5 my-3 text-center">Doctor Login</h1>

            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                    placeholder="Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required>
            </div>
            <p class="lead">Don't have an account? <a href="/register">Register Now</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="/javascript/sideSel.js"></script>
