<% layout('./layout/boilerplate.ejs') %>

    <h1 class="display-6 text-center" style="font-weight: bold;">Welcome to Ez-Health</h1>


    <div class="d-flex space-between" style = "margin-left: 41%; margin-top: 10%;">
        <div class="mx-3">
            <a href="/register" class="btn btn-xl btn-info" style="font-size: 20px;">Register</a>
    
        </div>
    
        <div class="mx-3">
            <a href="/login" class="btn btn-xl btn-info" style="font-size: 20px;">Login</a>
    
        </div>
    </div>

    