<% layout('./layout/boilerplate.ejs') %>

    <div class="mx-5 my-3">
        <button id="doctor" class="btn btn-light">Patient</button>
        <button id="patient" class="btn btn-dark" style="color: white;">Doctor</button>
    </div>

    <!-- Patient Register Form -->
    <div>
        <div class="container">
            <form action="/register" method="POST" class="validated-form" id="patientForm" novalidate>
                <h1 class="display-5 my-3 text-center text-white" style="text-transform: uppercase;font-weight: bold;">Patient Registration</h1>

                <div class="mb-3">
                    <label for="username" class="form-label text-light">Name</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label text-light">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                        placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label text-light">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                </div>

                <div class="mb-3">
                    <label for="Cpassword" class="form-label text-light">Confirm Password</label>
                    <input type="password" class="form-control" id="Cpassword" name="Cpassword"
                        placeholder="Confirm Password" required>
                </div>

                <div class="mb-3">
                    <label for="gender" class="form-label text-light">Gender</label>
                    <select name="gender" id="gender" required>
                        <option value="">--Please choose an option--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="age" class="form-label text-light">Age</label>
                    <input type="number" class="form-control" id="age" name="age" placeholder="Age" required>
                </div>

                <div class="mb-3">
                    <label for="bloodgroup" class="form-label text-light">Blood Group</label>
                    <input type="text" class="form-control" id="bloodgroup" name="bloodgroup" placeholder="Blood Group"
                        required>
                </div>

                <div class="mb-3">
                    <label for="weight" class="form-label text-light">Weight</label>
                    <input type="text" class="form-control" id="weight" name="weight" placeholder="Weight" required>
                </div>

                <div class="mb-3">
                    <label for="pin" class="form-label text-light">Pincode</label>
                    <input type="text" class="form-control" id="pin" name="pincode" placeholder="Pincode" required>
                </div>

                <div class="mb-3">
                    <label for="height" class="form-label text-light">Height</label>
                    <input type="text" class="form-control" id="height" name="height" placeholder="Height" required>
                </div>

                <div class="mb-3">
                    <label for="pastc" class="form-label text-light">Past Complications</label><br>
                    <textarea name="pastcomp" class="form-control" id="pastc" cols="40" rows="10"></textarea>
                </div>

                <p class="lead text-light">Have an account? <a href="/login">SignIn Now</a></p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Doctor Register Form -->
    <div>
        <div class="container">
            <form action="/docregister" method="POST" class="validated-form" id="doctorForm" novalidate>
                <h1 class="display-5 my-3 text-center text-light" style="text-transform: uppercase; font-weight: bold;">Doctor Registration</h1>

                <div class="mb-3">
                    <label for="username" class="form-label text-light">Name</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label text-light">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                        placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label text-light">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                </div>

                <div class="mb-3">
                    <label for="Cpassword" class="form-label text-light">Confirm Password</label>
                    <input type="password" class="form-control" id="Cpassword" name="Cpassword"
                        placeholder="Confirm Password" required>
                </div>

                <div class="mb-3">
                    <label for="gender" class="form-label text-light">Gender</label>
                    <select name="gender" id="gender" required>
                        <option value="">--Please choose an option--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="post" class="form-label text-light">Degree</label>
                    <input type="text" class="form-control" id="post" name="dpost" placeholder="Post" required>
                </div>  

                <div class="mb-3">
                    <label for="field" class="form-label text-light">Field of work</label> <br>
                    <input type="text" id="field" name="field" placeholder="Field of Work" required>
                </div>

                <div class="mb-3">
                    <label for="experience" class="form-label text-light">Experience</label>
                    <input type="text" class="form-control" id="experience" name="experience" placeholder="Experience"
                        required>
                </div>

                <div class="mb-3">
                    <label for="contact" class="form-label text-light">Contact Number</label>
                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact Number"
                        required>
                </div>
                
                <div class="mb-3">
                    <label for="hospitalname" class="form-label text-light">Hospital Name</label> <br>
                    <input type="text" class="form-control" id="hospitalname" name="hospitalname" placeholder="Hospital Name" required>
                </div>

                <div class="mb-3">
                    <label for="hospitalDet" class="form-label text-light">Hospital Address</label> <br>
                    <textarea name="hospitalAdd" class="form-control" id="hospitalDet" cols="40" rows="10"></textarea>
                </div>

                <div class="mb-3">
                    <label for="pincode" class="form-label text-light">Pincode</label> <br>
                    <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Pincode" required>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label text-light">Country</label> <br>
                    <input type="text" class="form-control" id="country" name="country" placeholder="Country" required>
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label text-light">City</label> <br>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                </div>

                <div class="mb-3">
                    <label for="region" class="form-label text-light">Region</label> <br>
                    <input type="text" class="form-control" id="region" name="region" placeholder="Region" required>
                </div>

                <p class="lead text-light">Have an account? <a href="/login">SignIn Now</a></p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script src="/javascript/sideSel.js"></script>