<% layout('./layout/boilerplate.ejs') %>


<h1 class="display-6 text-center text-light" style="font-weight: bold; text-transform: uppercase;">Take Appointment</h1>
<form action="/addEvent/<%= id %>" method = "POST">

    <div class="mb-3">
        <label for="pname" class="form-label text-light">Your Name</label>
        <input type="text" id = "pname" name = "patName" class="form-control">
    </div>

    <div class="mb-3">
        <label for="name" class="form-label text-light">Doctor Name</label>
        <input type="text" id = "name" name = "docName" class="form-control">
    </div>

    <div class="mb-3">
        <label for="address" class="form-label text-light">Address</label><br>
        <textarea name="address" id="address" cols="40" rows="10" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label for="disease" class="form-label text-light">Symptoms you are experiencing</label><br>
        <textarea name="disease" id="disease" cols="40" rows="10" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label for="field" class="form-label text-light">Type of doctor u want to consult to: </label>
        <select name="field" id="field" class="form-control">
            <option value="General Practitioner">General Practitioner</option>
            <option value="Master of Doctrate">MD</option>
            <option value="General Surgeon">General Surgeon</option>
        </select>
    </div>

    <button class = "btn btn-danger mb-4">Submit</button>
</form>