<% layout('./layout/boilerplate.ejs') %>

<% if(user.appointments.length != 0) { %> 
<% for(let u of user.appointments) { %>
    <div class="card">
        <div class="card-body">
          <p class="lead"><%= u.name %></p>
          <p class="lead"><%= u.address %></p>
          <p class="lead"><%= u.extraSymps %></p>
          <p class="lead"><%= u.field %></p>
        </div>
      </div>
<% } %>  
<% } else { %>
  <h1 class="display-6 text-center">No History</h1>
  <% } %>  
