<% layout('./layout/boilerplate.ejs') %>

<% if(user.appointments.length != 0) { %> 
<% for(let u of user.appointments) { %>
    <div class="card" style="background: none;border: none;">
        <div class="card-body">
          <p class="lead text-light"><%= u.name %></p>
          <p class="lead text-light"><%= u.address %></p>
          <p class="lead text-light"><%= u.extraSymps %></p>
          <p class="lead text-light"><%= u.field %></p>
        </div>
      </div>
<% } %>  
<% } else { %>
  <h1 class="display-6 text-center text-light" style="text-transform: uppercase; font-weight: bold;">No History</h1>
  <% } %>  
